{% extends "base.html" %}
{% block title %}
<title>create</title>
{% endblock %}
{% block content %}
<div class="container">
    <form method="post" action="login">
        <ul class="list-group">
            <li class="list-group-item">
                <a>ユーザー名</a><input type="text" class="text" name="userName">
            </li>
            <li class="list-group-item">
                <a></a><input type="submit" value="入室">
            </li>
        </ul>
    </form>
</div>
{% endblock %}